name: Update Data

on:
  schedule:
    - cron: '0 1 * * *'
  push:
    branches:
      - master

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Run sync script
        run: chmod +x sync.sh && ./sync.sh
      - name: Commit and push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git diff --quiet || (git commit -m "update $(date +%Y-%m-%d)" -a && git push)
